.container {
    height: 1080px;
    width: 1920px;
}
.Header {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 50%;
    background-color: lightgrey;
    border: 2px solid black;
}
.Top-Section {
    display: flex;
    height: 30%;
    width: 50%;
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-bottom: 1%;
}
.Content {
    display: flex;
    flex-flow: row wrap;
    height: 40%;
    width: 50%;
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.Content .boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-left: -5%;
}
.Content .boxes .box {
    width: 150px;
    height: 150px;
    background: black;
    margin: 20px 2.5%;
    border: 2px solid black;
    color: black;
}
Footer {
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 50%;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.nav {
    display: flex;
}
a {
    text-decoration: none;
    border: 1px solid black;
    padding: 2px 15px;
    margin-bottom: 1%;
    background-color: white;
    color: black;
}
.home {
    margin-left: 1.5%;
}
h1{
    margin-left: 1%;
    font-family: 'Montserrat', sans-serif;
}
.footer-link {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 25px 5px 25px;
    margin: 0px 15px;
}
h2 {
    padding: 15px 0px 10px -15px;
    font-family: 'Montserrat', sans-serif;
}
.img-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
}
.big-box {
    width: 100%;
    height: 100%;
    background: black;
    margin: 2%;
    justify-content: center;
    align-content: center;
}
.img-container {
    width: 50%;
}
.text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}
.projects-link {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 25px 5px 25px;
}
.big_img {
    height: 100%;
    width: 100%;
}
.little_img {
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 800px) {
    .Header {
        width: 40%;
        height: 20%;
        background-color: white;
        border: none;
        margin-bottom: 7%;
    }
    h1 {
        text-align: center;
    }
    .nav {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .home {
        margin-left: 0%;
    }
    .Top-Section {
        width: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        margin-bottom: 10%;
    }
    .img-container {
        width: 60%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 2%;
    }
    .text-container {
        width: 40%;
        height: 50%;
        justify-content: center;
        align-items: center;
        margin-bottom: 15%;
    }
    .Content {
        width: 40%;
        height: 60%;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10%;
        border: none;
        padding-left: 10%;

        margin-left: 2%;
    }
    footer {
        width: 40%;
        height: 20%;
        border: none;
    }
    .box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .boxes {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        color: black;
    }
    .little_img {
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .Header {
        width: 25%;
        height: 20%;
        background-color: white;
        border: none;
    }
    h1 {
        text-align: center;
    }
    .nav {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .home {
        margin-left: 0%;
    }
    .Top-Section {
        width: 25%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .img-container {
        width: 60%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 2%;
    }
    .text-container {
        width: 25%;
        height: 50%;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        margin-top: 2%;
        margin-left: -2%;
    }
    .Content {
        width: 40%;
        height: 60%;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
        margin-top: 15%;
        border: none;
        margin-left: -7%;

    }
    footer {
        width: 25%;
        height: 20%;
        border: none;
    }
    .box {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .boxes {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}